@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f7;
  color: #1d1d1f;
}

header {
  background-color: #f5f5f7;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #1d1d1f;
  font-weight: 500;
}

nav ul li a:hover {
  color: #6e6e73;
}

.gallery-container {
  padding: 100px 20px 20px;
  text-align: center;
}

.gallery-intro {
  font-size: 18px;
  margin-bottom: 30px;
  color: #6e6e73;
}

.gallery-controls {
  margin-bottom: 20px;
}

#shuffle-btn, #filter-select {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #1d1d1f;
  color: white;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

#shuffle-btn:hover, #filter-select:hover {
  background-color: #6e6e73;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  aspect-ratio: 1 / 1;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.gallery-item .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
}

.gallery-item:hover {
  transform: scale(1.03) rotate(3deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.gallery-item:hover .caption {
  opacity: 1;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f7;
  font-family: "Monsieur La Doulaise", cursive;
  font-size: 25px;
  color: #6e6e73;
}