@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #F4F2EE;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

body::
-moz-selection { background: #333; }
::selection { color: white; 
background: #333;; }
}

.post {
    position: relative;
    display: inline-block;
    margin: 20px;
}

.post img {
    max-width: 100%;
    height: auto;
}

.post h2 {
	position: relative;
    margin: 0;
    color: #333;
    font-size: 20px;
    font-weight: normal;
	left: -8%;
}

.caption {
	color: grey;
	margin-top: 1px;
	font-size: 15px;
	text-align: left;
}

header {
font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
}

.menu {
  color: #333;
  	font-weight: 700;

}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  display: inline-block;
  margin: 0 25px;
}

.menu ul li a {
  text-decoration: none;
  color: #333;
}

.menu ul li a:hover {
  color: lightgrey;
}

.container {
  margin: 0 auto;
  padding: 50px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns */
  grid-auto-rows: 200px; /* Fixed height for each row */
  grid-gap: 10px;
}

.photo {
  position: relative;
  overflow: hidden;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1;
  transition: transform 0.2s ease-in-out;
}

.photo:hover img {
  transform: scale(1.05);
}

.photo::after {
  content: attr(data-text); /* Display the data-text attribute content */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Background color for the caption */
  color: white; /* Text color for the caption */
  padding: 5px;
  font-size: 12px;
  text-align: center;
  opacity: 0; /* Initially hide the caption */
  transition: opacity 0.2s ease-in-out;
}

.photo:hover::after {
  opacity: 0.7; /* Show the caption on hover */
}
