@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Poppins:ital,wght@0,100;0,200;0,300;0,900;1,100;1,200;1,300;1,900&display=swap');


/*Début*/
body, html {
  margin: 0;
  #padding: 0;
  #height: 100%;
  font-family : 'Poppins', sans-serif;
  background-color: #F4F2EE;
  color: #333;
  overflow: hidden;
}

header {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 25px;
}
.menu {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  display: inline-block;
  margin: 0 20px;
}

.menu ul li a {
  text-decoration: none;
  color: #333;
}

.menu ul li a:hover {
    color: lightgrey;
}

.container {
	position:relative;
	margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.Profilepic {
    text-align: center;
	display: inline-block;
    height: 275px;
}

.Profilepic h1 {
    margin-bottom: 2.5px;
}

.resume {
	position: absolute;
	top: 37%;
	left:46.5%;
	display: none;
}

.resume a {
    color: #cfcfcf;
    text-decoration: none;
	background: #000000;

}

.presentation {
    text-align: center;

}

.presentation a {
	color : #333;
	#font-weight: bold;
	text-decoration: none;	

}

.social-media{
	margin-top:20px;
	
	font-weight: 500;
	text-align: center;
}

.social-media a{
	color: #333;
	text-decoration: none;
}

.resume a {
	font-family: "Roboto", sans-serif;
	font-size:22px;
	text-decoration: none;
	font-weight: bold;
}

.legends {
	font-family: "Monsieur La Doulaise", cursive;
	font-weight: 500;
	font-style: normal;
	font-size: 25px;
	user-select: none;
	text-align: center;
}

.legends {
        position: absolute;
        bottom: 50;
        width: 100%;
        height: 10px;
        color: #333;
        text-align: center;
}
	
body::
-moz-selection { background: #333; }
::selection { color: white; 
background: #333;; }
}

